html{height: 100%;} /*此高度为977px  若高度设置为1300px  图表显示就更多 */
body { font-family:Verdana;min-height:100%;width: 1670px;height: 1200px;  min-width: 1080px; position: relative; font-size:14px; margin:0;padding: 0;}
ul{float: left;list-style: none;}
a{text-decoration: none;text-align: center;}
/*overflow : hidden;   浏览器body超出部分隐藏  会使浏览器品目这麽大的时候只能看那么多  没有滚动条*/

/* 头部 */
#container {margin:0 auto; width:100%;}
#header { height:70px; margin-bottom:5px; position: relative;}
.logo{height:70px; position: absolute; margin: 1px 0 0 30px;}
.head{ position: absolute; left: 200px; top: 18px;}
.headtext{ font-size: 37px; font-family: 华文新魏; }
#headuser{position: absolute; top: 20px;/*left: 1600px;*/width: 250px;height: 50px;
	float: left; right:200px; /*right: 100px;*/
}

ul#headuser li{float: left;height: 40px;margin-right: 1px;}
#headuser li:first-child{ border: 1px solid black; }
#headuser li:nth-child(2){ border-top: 1px solid black; border-bottom:1px solid black; }
#headuser li:last-child{ border: 1px solid black; }
.lixa{line-height: 40px;color: black;font-size:16px; }

#myselect{width: 100px;height: 40px;}


/* 主体部分 */
#mainContent { height:500px; margin-bottom:5px;position: relative;}
#sidebar { float:left; width:400px; height:500px;position: relative;}
.common{float: left;list-style: none;}
.a1{display: block;width: 100px;height:30px;text-align: center; line-height: 30px;}
.a2{color: black;background: #ececec;}
.a3{color: red;}

.list{position: absolute;top: 10px;left: 170px;}
.th1{width: 60px;height: 40px;}
.th2{width: 160px;height: 40px;}
.td{height:30px;}

.td1{ width: 100px;}
.td2{ width: 30px;}
.td3{width: 50px;color: #2e8ded;}
.tr{height: 40px;}

#content {margin-left: 430px; margin-top: 30px; height:500px;position: relative;width: 70%;}/* margin-left:205px !important; margin-left:202px;  */
/* 视频 */
#playercontainer{ width: 680px;height: 448px;margin-left: 10%; float: left;
	/*边框*/
	border: solid 1px rgba(102, 146, 191, 0.68);
	/*边角弧度*/
	/*border-radius: 10px;*/
	/*阴影*/
	-moz-box-shadow:2px 2px 5px #333333;
	-webkit-box-shadow:2px 2px 5px #333333;
	box-shadow: 7px 15px 30px #285a63;

	/*延迟过度*/
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box; /* Opera */
	transition: all 0.3s linear;/*0.3s过渡时间*/
	-moz-transition: all 0.3s linear; /* Firefox 4 */
	-webkit-transition: all 0.3s linear; /* Safari 和 Chrome */
}
#playercontainer:hover{
	/*边框*/
	border: solid 1px rgba(102, 146, 191, 0.68);
	/*边角弧度*/
	border-radius: 10px;
	box-shadow: 7px 15px 30px #285a63;
}



/* 右边栏 */
.contentright{float: left; margin-left: 6%;  min─width:180px; height:300px ; /*position: absolute;top: 30px; right: 20%;*/

	/*right: 10%;*/ }
#table{width: 190px; border: solid 1px rgba(0,0,0,0.2);}

.trover{background: red;}
#table tr:hover{background: #CCC;}

#tablel{  /*边框*/
	border: solid 1px rgba(102, 146, 191, 0.68);
	/*边角弧度*/
	border-radius: 10px;
	box-shadow: 7px 15px 30px #285a63;}
#tablel td:hover{background-color: #7EB1BC; }/*border-left: 8px solid #06e8e0; border-right: 8px solid #06e8e0;*/
.tdhover{border-left: 8px solid #06e8e0; border-right: 8px solid #06e8e0;}



/* 图表 */
#main{height: 300px;width: 1350px; position: absolute;top: 570px; left: 190px;
	/*边框*/
	border: solid 1px rgba(102, 146, 191, 0.68);
	/*边角弧度*/
	border-radius: 10px;
	box-shadow: 7px 15px 30px #285a63;
}


.EchartBtn{
	width: 80px;height: 30px;
	cursor: pointer;
	background: white;
	border-radius: 5px;
	border: 1px solid #00a0f0;
}
.dowebok{
	margin-left: 50px;
	margin-top: 60px;
}

/*.list tr:hover{background: #06e8e0;}*/
.tdcolor{ color: #242A2F;height:30px;}
 input.labelauty + label{font:12px "Microsoft Yahei";}

/*
  mainlabel  list

 */
.THlist{
	width: 1440px;
	height: 400px;
	position: absolute;
	left: 190px;
	top: 30px;
}
.THlist input {
	display: none
}
.THlist label {
	width: 52px;
	background: #CCC;
	height: 28px;
	border-radius: 14px;
	float: right;
	margin: 8px 10px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.THlist label em {
	width: 26px;
	height: 26px;
	float: left;
	margin: 1px;
	border-radius: 13px;
	box-shadow: 2px 3px 8px rgba(0,0,0,.1);
	background: #FFF;
	transition: 0.1s;
}
.THlist input:checked + label {
	background: #a4d714;
}
.THlist input:checked + label em {
	margin: 1px 1px 1px 25px;
}
.THlist input:disabled + label {
	opacity: 0.5
}
#tablelist{
	border-right:1px solid black;border-bottom:1px solid black; border-left: 1px solid black; 
	} 
.tdl{height: 40px;}
.l{height: 10px;border: 1px solid black;}	 
.l1{width: 80px;}
.l2{width: 260px;}
.l3{width: 120px;}
.l4{width: 260px;}
.l5{width: 200px;}
.l6{width: 126px;}
.l7{width: 120px;}
.l8{width: 200px;}
#tablelist td{border-left:1px solid #cac9c9;border-top:1px solid #cac9c9;} 
#tablelist td:hover{border: 2px solid #4ab7cb;}


@media (min-width: 320px) and (max-width: 800px) {
	#playercontainer{width: 340px;height:224px; /*width: 476px;height: 314px;*/}
	/*#main{height: 430px;width: 1000px; position: absolute;top: 600px; left: 170px; }*/
	.contentright{min─width:180px; height:300px ; position: absolute;top: 30px;
		right: 100px; }
}
